# ios
Hackathon-iOS-2023/Hackathon-iOS-2023.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
Hackathon-iOS-2023/Hackathon-iOS-2023.xcodeproj/xcuserdata/*.xcuserdatad/xcdebugger/
Hackathon-iOS-2023/Hackathon-iOS-2023.xcodeproj/xcuserdata/*.xcuserdatad/
